*{
    padding: 0%;
    margin: 0%;
}

nav {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    z-index: 10;
    height: 65px;
    top: 8px;
   
}

nav .fa-solid {
    display: none;
}
.fa-solid {
    color: #000;
}

.brand-name {
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}
#sideMenu{
  margin-right: 290px;
  margin-top: 30px;

    
}
nav ul li {
    display: inline-block;
    list-style: none;
    margin: 1px 20px;
}

nav ul li a {
    color: #ffffff;
    text-decoration: none;
    font-size: 17px;
    font-weight: bold;
    position: relative;
    font-family: "Roboto", sans-serif;
}

nav ul li a::after {
    content: '';
    width: 0;
    height: 1px;
    background: #f2b75e;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.4s;
}

nav ul li a:hover::after {
    width: 100%;
}
.brand-name img {
    height: 50px;
    padding-left: 120px;
}

.tour-dropdown li {
    display: inline-block;
    list-style: none;
    margin: 10px 0;
    font-size: 18px;
}

.tour-dropdown {
    width: 7%;
    background: #c9c6c6;
    position: absolute;
    display: none;
    border-radius: 5px;
    padding: 10px 40px;
}

nav ul li:hover ul.tour-dropdown {
    display: block;
}
.img1{
    width: 100%;
    height: 100vh;
}
.content{
    background-color: #000;
    display: flex;
    color: #fff;
    margin-top: -10px;
    padding: 20px;    
}
.content h2{
    margin-top: 80px;
    margin-left: 250px;
    
}
.content p{
    margin-left: 250px;
    margin-top: 60px;
    float: right;
    padding-bottom: 40px;
}