body{
    margin: 0%;
    padding: 0%;
    
}
nav {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    z-index: 10;
    height: 65px;
    top: 8px;
   
}

nav .fa-solid {
    display: none;
}

.fa-solid {
    color: #000;
}

.brand-name {
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}
#sideMenu{
  margin-right: 290px;
  margin-top: 30px;

    
}
nav ul li {
    display: inline-block;
    list-style: none;
    margin: 1px 20px;
}

nav ul li a {
    color: #ffffff;
    text-decoration: none;
    font-size: 17px;
    font-weight: bold;
    position: relative;
    font-family: "Roboto", sans-serif;
}

nav ul li a::after {
    content: '';
    width: 0;
    height: 1px;
    background: #f2b75e;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.4s;
}

nav ul li a:hover::after {
    width: 100%;
}

.brand-name img {
    height: 50px;
    padding-left: 120px;
}

.tour-dropdown li {
    display: inline-block;
    list-style: none;
    margin: 10px 0;
    font-size: 18px;
}

.tour-dropdown {
    width: 7%;
    background: #c9c6c6;
    position: absolute;
    display: none;
    border-radius: 5px;
    padding: 10px 40px;
}

nav ul li:hover ul.tour-dropdown {
    display: block;
}

#heading{
text-align: center;
color: ghostwhite;
font-size: xx-large;
padding-top: 100px;
}
#line{
    text-align: center;
    color: ghostwhite;
    font-size: large;
    margin-top: auto;
}
#option{
    border-radius: 0%;
    border-color: floralwhite;
    background-color:rgba(0, 255, 255, 0);
    padding:25px  130px;
    justify-content:center;
    display: block;
    border-style: solid;
    font-size: large;
    color:#fff;
    align-items: center;
    display: flex;
    padding-left: 200px;
}

.form-container{
    margin-left:500px;
    margin-right:500px;
}
input::placeholder{
    color: #fff;
    font-size:large;
}
#button{
background-color: #ffffff00;
padding:26px  310px;
justify-content:center;
display: block;
align-items: center;
display: flex;
padding-left: 200px;
border-color: #fff;
color: #fff;
}
#nobutton{
background-color: #ffffff00;
border-color: rgba(250, 235, 215, 0);
color: #fff;
align-items: center;
font-size: medium;
margin-left: 45px;
}
#onbutton{
background-color: #ffffff00;
border-color: rgba(250, 235, 215, 0);
color: #fff;
align-items: center;
font-size: medium;
margin-left: 190px;
}
