*{
    margin: 0;
    padding: 0;
    font-family: Regular,Arial,Verdana,sans-serif;

    

}
.header{
    background-image: url(https://www.pixelstalk.net/wp-content/uploads/2016/11/Earth-From-Space-HD-Backgrounds.jpg);
    background-position: center;
    height: 750px;
    background-size: cover;
}
nav {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    z-index: 10;
    height: 65px;
    top: 8px;
   
}

nav .fa-solid {
    display: none;
}
.fa-solid {
    color: #000;
}

.brand-name {
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}
#sideMenu{
  margin-right: 290px;
  margin-top: 30px;

    
}
nav ul li {
    display: inline-block;
    list-style: none;
    margin: 1px 20px;
}

nav ul li a {
    color: #ffffff;
    text-decoration: none;
    font-size: 17px;
    font-weight: bold;
    position: relative;
    font-family: "Roboto", sans-serif;
}

nav ul li a::after {
    content: '';
    width: 0;
    height: 1px;
    background: #f2b75e;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.4s;
}

nav ul li a:hover::after {
    width: 100%;
}
.brand-name img {
    height: 50px;
    padding-left: 120px;
}

.tour-dropdown li {
    display: inline-block;
    list-style: none;
    margin: 10px 0;
    font-size: 18px;
}

.tour-dropdown {
    width: 7%;
    background: #c9c6c6;
    position: absolute;
    display: none;
    border-radius: 5px;
    padding: 10px 40px;
}

nav ul li:hover ul.tour-dropdown {
    display: block;
}
.header p{
    color: #fff;
    padding-top: 290px;
    padding-left: 300px;
    font-size: 15px;
}
.counter-wrapper{
  display: flex;
  grid-template-columns: repeat(3, 1fr);
 padding: 6rem 9%;
  position: relative;
  color: #FFF;
  background-color: #000;
  justify-content: center;
  justify-content: space-around;
  
}
.counter{
  text-align: center;
  position: relative;
}
.counter .count{
    font-size: 100px;
}
.counter p{
    font-size: 20px;
    
}
.img11{
    background-image: url(https://assets.newatlas.com/dims4/default/c038f16/2147483647/strip/true/crop/2600x1200+0+0/resize/2600x1200!/quality/90/?url=http%3A%2F%2Fnewatlas-brightspot.s3.amazonaws.com%2Ffe%2F87%2Fa4b63744439ca241cf28ec5091dd%2Fstarship-capabilities-interplanetarydestinations-mars-01-2023-01-desktop-darkerv2.jpg);
    background-position: center;
    height: 750px;
    background-size: cover;
}
.img11 h1{
    padding-top: 350px;
    padding-bottom: 20px;
    display: flex;
    color: #fff;
    padding-left: 80px;
    font-family: Arial, Helvetica, sans-serif;
}
.img11 p{
    color: #fff;
    padding-left: 80px;
    padding-bottom: 50px;
    font-family: D-DIN-Regular;
}
.img11 a{
    text-decoration: none;
    color: #fff;
    position: relative;
    font-size: 15px;
    display: inline-flex;
    border: 2px solid #fff;
    padding: 10px 30px;
    margin-top: 15px;
    font-family: Arial, sans-serif;
    margin-left: 70px;
   
}
.img-container{
    display: flex;
    align-items: center;
    gap:50px;
    background-color: #000;
    padding-top: 0;

}
.arrow{
   height: 19px;
   cursor: pointer; 
   display: flex;
   position: absolute;
   margin-top: 300px;
}
.left{
    margin-right: 30px;
}
.right{
    transform: rotate(180deg);
    margin-left: 1400px;
    
}
.frame{
    overflow: hidden;
}
.img{
    height: 730px;
    width:1520px;
    background-size: cover;
    margin: 0px;
    padding: 0;
    float: right;
    object-fit: cover;
}
.slider{
    display: flex;
}
.slide-show h1{
    position: absolute;
    color: #fff;
    margin-left: 90px;
    margin-top: 250px;
    padding: 50px;
}
.slide-show p{
    position: absolute;
    color: #fff;
    margin-left: 100px;
    margin-top: 350px;

}
.slide-show1{
    position: relative;
    display: flex;
}
.slide-show1 h5{
    position: absolute;
    color: #FFF;
    margin-left: 70px;
    margin-top: 220px;
}
.slide-show1 h1{
    position: absolute;
    color: #FFF;
    padding: 35px;
    margin-left: 35px;
    font-size: 45px; 
    margin-top: 200px;
}
.slide-show1 p{
    position: absolute;
    color: #FFF;
    margin-left: 70px;
    margin-top: 360px;
}
.slide-show2{
    position: relative;
    display: flex;

}
.slide-show2 h5{
    position: absolute;
    color: #FFF;
    margin-left: 70px;
    margin-top: 220px;
}
.slide-show2 h1{
    position: absolute;
    color: #FFF;
    padding: 35px;
    margin-left: 70px;
    margin-top: 260px;
    font-size: 45px; margin-top: 200px;
}
.slide-show2 p{
    position: absolute;
    color: #FFF;
    margin-left: 70px;
    margin-top: 360px;
}
.slide-show3{
    position: relative;
    display: flex;

}
.slide-show3 h5{
    position:absolute;
    color: #FFF;
    margin-left: 70px;
    margin-top: 220px;
}
.slide-show3 h1{
    position: absolute;
    color: #FFF;
    padding: 35px;
    margin-left: 70px;
    margin-top: 270px;
    font-size: 45px; margin-top: 200px;
}
.slide-show3 p{
    position: absolute;
    color: #FFF;
    margin-left: 70px;
    margin-top: 360px;
}
.slide-show4{
    position: relative;
    display: flex;

}
.slide-show4 h5{
    position:absolute;
    color: #FFF;
    margin-left: 70px;
    margin-top: 220px;
}
.slide-show4 h1{
    position: absolute;
    color: #FFF;
    margin-left: 70px;
    padding: 35px;
    margin-top: 270px;
    font-size: 45px; margin-top: 200px;
}
.slide-show4 p{
    position: absolute;
    color: #FFF;
    margin-left: 70px;
    margin-top: 360px;
}
.slide-show5{
    position: relative;
    display: flex;

}
.slide-show5 h5{
    position:absolute;
    color: #FFF;
    margin-left: 70px;
    margin-top: 220px;
}
.slide-show5 h1{
    position: absolute;
    color: #FFF;
    padding: 35px;
    margin-left: 70px;
    margin-top: 270px;
    font-size: 45px; margin-top: 200px;
}
.slide-show5 p{
    position: absolute;
    color: #FFF;
    margin-left: 70px;
    margin-top: 360px;
}
.slide-show6{
    position: relative;
    display: flex;

}
.slide-show6 h5{
    position:absolute;
    color: #FFF;
    margin-left: 70px;
    margin-top: 220px;
}
.slide-show6 h1{
    position: absolute;
    color: #FFF;
    padding: 35px;
    margin-left: 70px;
    margin-top: 270px;
    font-size: 45px; margin-top: 200px;
}
.slide-show6 p{
    position: absolute;
    color: #FFF;
    margin-left: 70px;
    margin-top: 360px;
}
.slide-show7{
    position: relative;
    display: flex;

}
.slide-show7 h5{
    position:absolute;
    color: #FFF;
    margin-left: 70px;
    margin-top: 220px;
}
.slide-show7 h1{
    position: absolute;
    color: #FFF;
    padding: 35px;
    margin-left: 70px;
    margin-top: 270px;
    font-size: 45px; margin-top: 200px;
}
.slide-show7 p{
    position: absolute;
    color: #FFF;
    margin-left: 70px;
    margin-top: 360px;
}
.slide-show8{
    position: relative;
    display: flex;

}
.slide-show8 h5{
    position:absolute;
    color: #FFF;
    margin-left: 70px;
    margin-top: 220px;
}
.slide-show8 h1{
    position: absolute;
    color: #FFF;
    padding: 25px;
    margin-left: 70px;
    margin-top: 270px;
    font-size: 45px; margin-top: 200px;
}
.slide-show8 p{
    position: absolute;
    color: #FFF;
    margin-left: 70px;
    margin-top: 380px;
}
.text-container{
    background-color: #000;
}
.video{
    height: 750px;
    width: 900px;
    margin-left: 30px;
    margin-top: 80px;
    margin-bottom: 30px;
}
.text-container h6{
   float: right;
   color: #fff;
   padding: 5px;
   padding-right: 300px;
   display:inline-flex;
   position: relative;
}
.text-container p{
   color: #fff;

 }
 .new-container{
    background-color: #000;
    color: #fff;
    text-align: center;
    height: 250px;
    padding-top: 90px;
 }
 .new-container h1{
    padding-top: 110px;
    padding: 15px;
    
 }
 .new-container p{
    padding-bottom: 70px;
 }
 .new-container button a{
    text-decoration: none;
    background-color: #000;
    padding-top: 20px;
    padding: 30px;
    color: #fff;
    margin-top: 200px;
    font-size: 15px;
 }
 .new-container button a:hover {
    color: gray;
    cursor: pointer;  
}
.img01 {
    display: flex;
    text-align: center;
    height: 600px;
    width: 900px;
    color: #000;
    margin-left: 300px;
}
.new-container2 {
    background-color: #000;
    position: relative;
}
.small-heading{
   background-color: #000;
}
.small-heading h1{
    color: #fff;
    text-align: center;
    padding-top: 110px;
    padding-bottom: 80px;
}
.cards{
    background-color: #000;
    color: #FFF;

}
.flexbox{
    display: flex;
}
.card1{
    color: #fff;
    background-color: #000;
    height: 600px;
    width: 600px;
    margin-left: 120px;
    float: left;
    margin-right: 90px;
}
.card1 h4{
    margin-top: 25px;
    padding-bottom: 7px;

}
.card1 h2{
    margin-bottom: 25px;
}
.card2{
    color:#fff;
    background-color: #000;
    height: 600px;
    width: 600px;
    margin-right: 120px;
    margin-left: 90px;
    float: right;

}
.card2 h4{
    margin-top: 25px;
    padding-bottom: 7px;

}
.card2 h2{
    margin-bottom: 25px;
}
.pic1{
    height: 350px;
    width:600px;
}
.pic2{
    height: 350px;
    width:600px;
}

